{% extends "searchtemplate.html" %}

{% block content %}

{% load static %}

<h1>Change Your Password</h1>
<form method="POST">
  {% csrf_token %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div id="password_form">
    <table>
      <tr>
        {{ form.new_password1.help_text | safe }}
      </tr>
      <tr>
        <td>{{ form.old_password.label_tag }}</td>
        <td>{{ form.old_password }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password1.label_tag }}</td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.label_tag }}</td>
        <td>{{ form.new_password2 }}</td>
      </tr>
    </table>
  </div>
  <div>
  {% if field.errors %}
  {{ field.errors }}
  {% endif %}
  </div>
  <button type="submit">Change Password</button>
</form>
{% endblock %}