{% extends "searchtemplate.html" %}

{% block content %}

{% load static %}
<img src="{% static "search/nlc.png" %}" />
<h1>Norman Lear Center Script Database</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div id="login_form">
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>
</div>

<input type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

</form>

{% endblock %}
