{% extends "searchtemplate.html" %}

{% block content %}
<h1>Search Scripts</h1>

<form name="form" action="" method="POST">
  {% csrf_token %}
  {{ form }}
  <div>
    <button type="submit" value="Search">Search</button>
  </div>
  {% if results and results.search_results %}
  <span>{{ results.snippet_hits }} results in {{ results.script_hits }} scripts in {{ elapsed }} seconds</span>
  <table>
    <tr>
      <th><input type="checkbox" name="chk_selectall" /></th>
      <th>Kind</th>
      <th>Title</th>
      <th>Year</th>
      <th>Season</th>
      <th>Episode</th>
      <th>Text</th>
    </tr>
    {% for search_result in results.search_results %}
    <tr>
      <td><input type="checkbox" name="chk_{{search_result.id}}" /></td>
      <td>{% if search_result.script_type == 'T' %} TV {% else %} Movie {% endif %}</td>
      <td>{{ search_result.title }}</td>
      <td>{{ search_result.year }}</td>
      <td>{% if search_result.script_type == 'T' %} {{ search_result.season }} {% endif %}</td>
      <td>{% if search_result.script_type == 'T' %} {{ search_result.episode }} {% endif %}</td>
      <td>
        <table>
          {% autoescape off %}
          {% for snippet in search_result.headline %}
            <tr>
              <td>
                {{ snippet }}
              </td>
            </tr>
          {% endfor %}
          {% endautoescape %}
        </table>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</form>

{% endblock %}
